$primary-color:  #503b61; //#1e4f4b;
$secondary-color: #d6c4b0;
$text-color: #0d090c;
$white-color: #fff;
$color-black: #000;

$background-color: #f2f3f5;
$placeholder-color: #aaa;

$color-dark: #222;
$color-dark-2: #666;
$color-gray: #e3e3e3;
$color-yellow: #fdf4db;
$color-cyan: #66afe9;
$color-red: #f03434;
$color-green: #26a65b;
$color-blue: #428bca;
